body {
    font-family: 'Arvo', serif;
    margin: 0px;
    padding: 0px;
}

.Profile {
    background-color: #F4F8FF;
    padding-bottom:5%;
}


.bg-blue-nav{
    background-color: #79A0EF;
}

.btn-blue{
    background-color:  #79A0EF;
    border-radius: 20px;
    border:none;
}

hr{
    width:100%;
    height:2%;
    background-color:  #79A0EF;

}

.custom-file-input ~ .custom-file-label::after {
    content: "";
    border-radius: 15px;
    border:none;
    background: url(/static/images/cloud-computing.png) no-repeat left center;
    background-size: 20px;
}

.button-bawah{
    border-radius: 20px;
    border:none;
    width:15%



}

.navbar a {
    color: white !important;
}
#inputnama {
    background: url(/static/images/user.png)no-repeat left center;
    background-size: 25px;
    width: 100%;
    border-radius: 15px;

    background-color:white;
    background-position-y: center;
    font-size: 100%;
    background-position-x: 1%;
}

input[type="text"] {
    padding-left: 35px;
}


#inputjenis {
    background:  url(/static/images/gender-symbols.png) no-repeat left center;
    background-size: 25px;
    width: 100%;
    border-radius: 15px;
    background-color:white;
    background-position-y: center;
    font-size: 100%;
    background-position-x: 1%;
}


#inputtanggal{
    background: url(/static/images/birthday-cupcake.png) no-repeat left center;
    background-size: 25px;
    width: 100%;
    border-radius: 15px;
    background-color:white;
    background-position-y:center ;
    font-size: 100%;
    background-position-x: 1%;
}

.dropdown-lulusan{
    background: url(/static/images/mortarboard.png) no-repeat left center;
    background-size: 25px;
    width: 100%;
    border-radius: 15px;
    background-color:white;
    background-position-y: center;
    font-size: 100%;
    background-position-x: 1%;

}

#inputalamat{
    background: url(/static/images/home.png) no-repeat left center;
    background-size: 25px;
    width: 100%;
    border-radius: 15px;
    background-color:white;
    background-position-y: center;
    font-size: 100%;
    background-position-x: 1%;
}

.dropdown-kota{
    background: url(/static/images/buildings@2x.png) no-repeat left center;
    background-size: 25px;
    width: 100%;
    border-radius: 15px;
    background-color:white;
    background-position-y: center;
    font-size: 100%;
    background-position-x: 1%; 
}

.dropdown-provinsi{
    background: url(/static/images/africa.png) no-repeat left center;
    background-size: 25px;
    width: 100%;
    border-radius: 15px;
    background-color:white;
    background-position-y: center;
    font-size: 100%;
    background-position-x: 1%; 
}

#inputtelpon{

    background: url(/static/images/communication.png) no-repeat left center;
    background-size: 25px;
    width: 100%;
    border-radius: 15px;
    background-color:white;
    background-position-y: center;
    font-size: 100%;
    background-position-x: 2%; 
    padding-left:40px;

}

#inputinsta{

    background: url(/static/images/Instagramlogo_a.png)no-repeat left center;
    background-size: 25px;
    width: 100%;
    border-radius: 15px;
    background-color:white;
    background-position-y: center;
    font-size: 100%;
    background-position-x: 2%; 
    padding-left:40px;

}

#inputlink{

    background: url(/static/images/NoPath_-_Copy_5_.png)no-repeat left center;
    background-size: 25px;
    width: 100%;
    border-radius: 15px;
    background-color:white;
    background-position-y: center;
    font-size: 100%;
    background-position-x: 2%; 
    padding-left:40px;
  

}

#inputemail{
    background: url(/static/images/Email_bb.png) no-repeat left center;
    background-size: 25px;
    width: 100%;
    border-radius: 15px;
    background-color:white;
    background-position-y: center;
    font-size: 100%;
    background-position-x: 2%; 
    padding-left:40px;

}

#KTP{
    background: url(/static/images/driver-license.png) no-repeat left center;
    background-size: 25px;
    width: 100%;
    border-radius: 15px;
    background-color:white;
    background-position-y: center;
    font-size: 100%;
    background-position-x: 1%; 
    padding-left:35px;


}

.dropdown-job{
    background: url(/static/images/suitcase.png) no-repeat left center;
    background-size: 25px;
    width: 100%;
    border-radius: 15px;
    background-color:white;
    background-position-y: center;
    font-size: 100%;
    background-position-x: 1%; 
    padding-left:35px;


}

.dropdown-tipe{
    background: url(/static/images/job-offer_.png) no-repeat left center;
    background-size: 25px;
    width: 100%;
    border-radius: 15px;
    background-color:white;
    background-position-y: center;
    font-size: 100%;
    background-position-x: 1%; 
    padding-left:35px;


}

input#Range{
    height: 10vh;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

