<form action="/advance" method="POST" id="calv">
    <nav class="navbar navbar-expand-md navbar-dark bg-light p-3">
        <div class="d-flex flex-grow-1">
            <h4 class="navbar-brand text-dark ml-2">GolekKerjo</h4>
            <div class="input-group">
                <input type="text" class="form-control border border-right-0" placeholder="Search..." name="search">
                <span class="input-group-append">
                    <button class="btn  border border-left-0" type="submit" style="width:30%; height:80%; padding:0px;">
                        <img src="static/img/search.png" width="25%">
                    </button>
                    <button class="btn  border border-left-0" type="button" style="width: 30%; padding:0px; height:80%;" id="filter">
                        <img src="static/img/funnel_zu@2x.png" width="25%">
                    </button>
                </span>
            </div>
        </div>
    </nav>

    <div id="myModal1" class="modal1" style="z-index: 998">
        <div class="modal1-content">
            <span class="close1">&times;</span>
            <div>
                <label style="width:25%; margin-left:5%">Lokasi:</label>
                <label style="width:25%; margin-left:5%">Tipe Pekerjaan:</label>
                <label style="width:25%; margin-left:5%">Jenis Pekerjaan:</label>
            </div>
            <div class="advance" id="add">
                <select id="lokasi" style="width:25%; height:35px; margin-left:5%" name="namakota">
                    <option></option>
                    {%for item in session["kota"] %}
                    <option>{{item[0]}}</option>
                    {% endfor %}
                </select>
                <select id="tipe-pekerjaan" style="width:25%; height:35px; margin-left:5%" name="jenis">
                    <option></option>
                    {%for item in session["jenis"] %}
                    <option>{{item[0]}}</option>
                    {% endfor %}
                </select>
                <select id="jenis-pekerjaan" style="width:25%; height:35px; margin-left:5%" name="durasi">
                    <option></option>
                    <option>Full Time</option>
                    <option>Part Time</option>
                    <option>Freelance</option>
                </select>
            </div>
            <div style="margin-top:5%; text-align:center">
                <label style="height:35px">Gaji Minimum(RP):</label>
                <input type="number" name="gaji-minim" min="1" id="minmin" max="999999999999999">
            </div>
            <div style="text-align:center">
                <label style="height:35px">Gaji Maximum(RP):</label>
                <input type="number" name="gaji-max" min="1" id="maxmax" max="999999999999999">
            </div>
            <div style="text-align:center;">                    
                <p id="error_para" style="color:#ff0000"></p>
            </div>
            <div>
                <button type="button" style="width:10%; height:35px ; margin-left:45%; margin-top:5%; background-color:#79A0EF; color: #ffffff; border:none; border-radius:10px" onclick="validate()">Cari</button>
            </div>
        </div>
    </div>
</form>



<script>
    // Get the modal
    var modal = document.getElementById("myModal1");

    // Get the button that opens the modal
    var btn = document.getElementById("filter");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close1")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal1) {
            modal.style.display = "none";
        }
    }

    // JS untuk mengecek gajimax harus lebih besar dari gajimin
    function validate() {
        var error = "Gaji maximum harus lebih besar dari gaji minimum!";
        var max = document.getElementById("maxmax").value;
        var min = document.getElementById("minmin").value;
        if (max < min) {            
            document.getElementById("error_para").innerHTML = error;
        } else {            
            document.getElementById('calv').submit();           
        }        
    }
</script>


<style>
    .modal1 {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: auto;
        top: auto;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal1-content {
        background-color: #ffffff;
        padding: 3%;
        border: 1% solid #888;
        width: auto;
        height: auto;
        margin-top: -10%;
        /* margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%; */

    }

    /* The Close Button */
    .close1 {
        color: #ff0000;
        margin-left: 95%;
        top: 10%;
        font-size: 30px;
        font-weight: bold;
    }

    .close1:hover,
    .close1:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>
