{% extends 'master.html' %}
{% block content %}
    <section class ="contact">
    <div class ="container">
        <h2>Hubungi Kami</h2>
        <div class ="row100">
            <div class ="col">
                <div class ="inputbox">
                    <input type ="text" name="" required="required" style="color: white;">
                    <span class ="text">Nama</span>
                    <span class ="line"></span>
                </div>
            </div>
            <div class ="col">
                <div class ="inputbox">
                    <input type ="text" name="" required="required" style="color: white;">
                    <span class ="text">E-mail</span>
                    <span class ="line"></span>
                </div>
            </div>
        </div>
        <div class ="row100">
            <div class ="col">
                <div class ="inputbox textarea">
                    <textarea required ="required" style="color: white;"></textarea>
                    <span class ="text">Ketik Pesan</span>
                    <span class ="line"></span>
                </div>
            </div>
        </div>
        <div class ="row100">
            <div class ="col">
                <input type ="submit" value ="Kirim" style="color: white;">
            </div>
        </div>
    </div>
    </section>
</body>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/contact.css') }}">
<script src="static/js/jquery3.5.1.js"></script>
<script src="static/popper/js/popper.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<style>
    textarea{
        vertical-align: middle;
        margin: 0;
    }
    
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/contact.css') }}">
{% endblock %}