<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Document</title>
</head>
<body>
{% if "user" in session %}
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-md fixed-top navbar-light bg-blue">
            <div class="container-fluid">
                <a href="" class="navbar-brand text-uppercase d-md-none">GolekKerjo
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav text-uppercase">
                        <li class="nav-item">
                            <a href="" class="nav-link">GolekKerjo<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Lowongan</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Perusahaan</a>
                        </li>
    
                        <li class="nav-item">
                            <a href="" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Hubungi Kami</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item" style="top: auto; right: auto;">
                            <input type="image" src="{{url_for('static', filename='images/bell_1.png')}}" id="myBtn" alt="Submit" width="25" height="25" class="mx-md-1 mx-lg-2 mx-xl-3">
                        </li>
                        <li class="nav-item" style="top: auto;">
                            <small>Hai, {{session["user"]}}</small>
                        </li>
                        <li class="nav-item" style="top: auto; right: auto;">
                            <img src='{{url_for("static", filename="profile/")}}{{session["profilepicture"]}}' style="border-radius: 50%;" alt="Submit" width="30" height="30" class="mx-md-1 mx-lg-2 mx-xl-3">
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>  
{% else %}
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-md fixed-top navbar-light bg-blue">
            <div class="container-fluid">
                <a href="" class="navbar-brand text-uppercase d-md-none">GolekKerjo
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav text-uppercase">
                        <li class="nav-item">
                            <a href="" class="nav-link">GolekKerjo<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Lowongan</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Perusahaan</a>
                        </li>
    
                        <li class="nav-item">
                            <a href="" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Hubungi Kami</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a href="" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Daftar</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>  

    
{% endif %}
<div id="myModal" class="modal">
<!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
    
{% block content %} {% endblock %}


    <footer class="gk-footer">
        <div class="container">
            <div class="row">
                <div class="col gk-logo">
                    <img src="{{url_for('static', filename='images/Golek_Kerjo_3.png')}}" alt="" id="gk-logo">
                </div>
                <div class="col gk-text">
                    Golek Kerjo adalah platform job recruitment dengan visi membantu anak muda untuk dapat menemukan
                    platform mereka menyalurkan aspirasi mereka. Misi kita adalah membantu perusahaan menemukan
                    anak muda yang cocok bagi perusahaan dan untuk anak muda mencari jati diri dan karir yang
                    sesuai dengan dirinya. 
                </div>
                <!-- AMIN -->
                <div class="col">
                    <ul class="footer-list">
                        <li><img src="{{url_for('static', filename='images/download.png')}}" alt="" class="footer-img">
                            <p>GolekKerjo</p>
                        </li>
                        <li><img src="{{url_for('static', filename='images/NoPath_-_Copy_5.png')}}" alt="" class="footer-img"style="width: 50; margin-left: 0%;">
                            <p>GolekKerjo</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
<style>
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 10%;
  height: 50%;
  margin-left: 85%;
  margin-top: -2%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>