<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">    
    <title>Document</title>
</head>

<body>
    {% if "user" in session %}
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-md fixed-top navbar-light bg-blue">
            <div class="container-fluid">
                <a href="" class="navbar-brand text-uppercase d-md-none">GolekKerjo
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav text-uppercase">
                        <li class="nav-item">
                            <a href="/" class="nav-link navbar-left" style="width: 70px;"><img src="{{url_for('static', filename='images/Logo.png')}}" alt="" style="width: 100%;"><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/lowongan" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Lowongan</a>
                        </li>
                        <li class="nav-item">
                            <a href="/perusahaan" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Perusahaan</a>
                        </li>

                        <li class="nav-item">
                            <a href="/hubungikami" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Hubungi Kami</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav text-uppercase ml-auto">

                        <a class="button" href="#popup1" style="text-align: center; margin-right: 5%;">
                            <input type="image" src="{{url_for('static', filename='images/bell_1.png')}}"
                                style="width: 70%; vertical-align: middle;">
                        </a>
                        <li class="nav-item"
                            style="top: auto; margin: 0px; text-align: center; vertical-align: middle;">
                            <small style="color: white;">Hai, {{session["user"]}}</small>
                        </li>
                        <li class="nav-item" style="top: auto; right: auto;text-align: center; vertical-align: middle;">
                            <a href="/profile">
                                {% if session["profilepicture"] %}
                                <img src='{{url_for("static", filename="profile/")}}{{session["profilepicture"]}}'
                                    style="border-radius: 50%;" alt="Submit" width="30" height="30">
                                {% else %}
                                <img src='{{url_for("static", filename="images/emptyprofile.png")}}'
                                    style="border-radius: 50%;" alt="Submit" width="30" height="30">
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% else %}
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-md fixed-top navbar-light bg-blue">
            <div class="container-fluid">
                <a href="" class="navbar-brand text-uppercase d-md-none">GolekKerjo
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav text-uppercase">
                        <li class="nav-item">
                            <a href="/" class="nav-link navbar-left" style="width: 70px;"><img src="{{url_for('static', filename='images/Logo.png')}}" alt="" style="width: 100%;"><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/lowongan" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Lowongan</a>
                        </li>
                        <li class="nav-item">
                            <a href="/perusahaan" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Perusahaan</a>
                        </li>

                        <li class="nav-item">
                            <a href="/hubungikami" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Hubungi Kami</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a href="/daftar" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Daftar</a>
                        </li>
                        <li class="nav-item">
                            <a href="/masuk" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% endif %}
    {% if "user" in session %}
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-md navbar-light bg-blue">
            <div class="container-fluid">
                <a href="" class="navbar-brand text-uppercase d-md-none">GolekKerjo
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mx-auto" id="navbar">
                    <ul class="navbar-nav text-uppercase">
                        <li class="nav-item">
                            <a href="/" class="nav-link navbar-left" style="width: 70px;"><img src="{{url_for('static', filename='images/Logo.png')}}" alt="" style="width: 100%;"><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/lowongan" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Lowongan</a>
                        </li>
                        <li class="nav-item">
                            <a href="/perusahaan" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Perusahaan</a>
                        </li>

                        <li class="nav-item">
                            <a href="/hubungikami" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Hubungi Kami</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav text-uppercase ml-auto">

                        <a class="button mx-auto" href="#popup1" style="text-align: center; margin:0px; vertical-align: middle;">
                            <input type="image" src="{{url_for('static', filename='images/bell_1.png')}}"
                                style="width: 70%; top: auto; margin: 0px; text-align: center; vertical-align: middle;" class="mx-auto">
                        </a>
                        <li class="nav-item"
                            style="top: auto; margin: 0px; text-align: center; vertical-align: middle;">
                            <small>Hai, {{session["user"]}}</small>
                        </li>
                        <li class="nav-item" style="top: auto; right: auto;text-align: center; vertical-align: middle;">
                            <a href="/profile">
                                {% if session["profilepicture"] %}
                                <img src='{{url_for("static", filename="profile/")}}{{session["profilepicture"]}}'
                                    style="border-radius: 50%;" alt="Submit" width="30" height="30">
                                {% else %}
                                <img src='{{url_for("static", filename="images/emptyprofile.png")}}'
                                    style="border-radius: 50%;" alt="Submit" width="30" height="30">
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% else %}
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-md navbar-light bg-blue">
            <div class="container-fluid">
                <a href="" class="navbar-brand text-uppercase d-md-none">GolekKerjo
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav text-uppercase">
                        <li class="nav-item">
                            <a href="/" class="nav-link navbar-left" style="width: 70px;"><img src="{{url_for('static', filename='images/Logo.png')}}" alt="" style="width: 100%;"><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/lowongan" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Lowongan</a>
                        </li>
                        <li class="nav-item">
                            <a href="/perusahaan" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Perusahaan</a>
                        </li>

                        <li class="nav-item">
                            <a href="/hubungikami" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Hubungi Kami</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a href="/daftar" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Daftar</a>
                        </li>
                        <li class="nav-item">
                            <a href="/masuk" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% endif %}
    {% block content %} {% endblock %}
    <div id="popup1" class="overlay" style="z-index: 9999;">
        <div class="popup">            
            <a class="close" href="#">&times;</a>
            <div class="content">
                {% for items in session["notification"] %}
                    <a href="/searchedlowongan/{{items[2]}}"><img src="static/images/{{items[0]}}" alt="" style="width: 15%; height: 15%"><p style="display: inline-block; color: black; text-decoration:none; padding-left: 20px;">{{items[1]}}</p><hr></a>
                {% endfor %}
            </div>
        </div>
    </div>

    <footer class="gk-footer">
        <div class="container">
            <div class="row">
                <div class="col gk-logo">
                    <img src="{{url_for('static', filename='images/Golek_Kerjo_3.png')}}" alt="" id="gk-logo">
                </div>
                <div class="col gk-text">
                    Golek Kerjo adalah platform job recruitment .
                </div>
                <!-- AMIN -->
                <div class="col">
                    <ul class="footer-list">
                        <li><img src="{{url_for('static', filename='images/linkedinlogo.png')}}" alt=""
                                class="footer-img">
                            <p>GolekKerjo</p>
                        </li>
                        <li><img src="{{url_for('static', filename='images/download.png')}}" alt="" class="footer-img"
                                style="width: 50; margin-left: 0%;">
                            <p>GolekKerjo</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
<style>
    body {
        font-family: 'Arvo', serif;
        background-size: cover;
        height: 100vh;
    }

    h1 {
        text-align: center;
        font-family: Tahoma, Arial, sans-serif;
        color: #ffffff;
        margin: 80px 0;
    }

    .box {
        width: 40%;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0);
        padding: 35px;
        border: 2px solid rgba(255, 255, 255, 0);
        border-radius: 20px/50px;
        background-clip: padding-box;
        text-align: center;
    }

    .button {
        font-size: 1em;
        padding: 0px;
        color: rgba(255, 255, 255, 0);
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-out;
        width: 15%;
    }

    .button:hover {
        background: #ffffff00;
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

    .popup {
        margin: 70px auto;
        padding: 20px;
        background: rgb(255, 255, 255);
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
    }

    .popup h2 {
        margin-top: 0;
        color: rgb(250, 250, 250);
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

    .popup .close:hover {
        color: #06D85F;
    }

    .popup .content {
        max-height: 30%;
        overflow: auto;
    }

    @media screen and (max-width: 700px) {
        .box {
            width: 70%;
        }

        .popup {
            width: 70%;
        }
    }
</style>