{% extends 'master.html' %}
{% block content %}
<section class="section-5" id="about-us">
    <div class="container">
        <div class="row main-row">
            <div class="col-lg-78 ">
                <div class="about-img">
                    <img src="{{url_for('static', filename='images/working-remote.png')}}" class="img-fluid" id="about-img" style="padding-top: 105px; width: 500px;">
                </div>
            </div>
            <div class="col-lg-4 about-text">
                <div class="about-title mb-3">
                    <h1 style="color: black; text-align: left; margin: 0px; padding: 0px; position: relative; top: 200px; left: 200px;">Ayo Berlangganan<br><b>PREMIUM</b><br>Sekarang</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<H1 style="color: rgb(0, 0, 0);">Layanan</H1>
<div class="container">
    <div class="container-items">
        <div class="row ">
            <div class="col-lg-4 col-md-4 col-sm-12 container-layanan mx-auto">
                <h2 class="mb-3 mt-3"><b>Basic</b></h2>
                <h5 class="mb-5">Free</h5>                
                <button type="button" class="btn btn-primary bg-blue-items mb-5" disabled>Aktif</button>
                <p class="mb-3">Unggah hingga 10 MB</p>
                <p class="mb-3">Melamar hanya 1x</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 container-layanan mx-auto">
                <h3 class="mb-3 mt-3"><b>Premium</b></h3>
                <h5 class="mb-5">IDR 50.000</h5>
                <button class="btn btn-primary bg-blue-items mb-5" id="pay-button">Langganan</button>
                <!-- HREF -->
                <!-- HREF -->
                <!-- HREF -->
                <p class="mb-3">Informasi lowongan baru</p>
                <p class="mb-3">Unggah hingga 100 MB</p>
                <p class="mb-3">Prioritas rekrutmen</p>
                <p class="mb-3">Tidak ada batas melamar</p>
            </div>
        </div>        
    </div>
</div>

<link rel="stylesheet" href="{{url_for('static', filename='css/pembayaran.css')}}">
<script 
      type="text/javascript"
      src="https://app.sandbox.midtrans.com/snap/snap.js"
      data-client-key="SB-Mid-client-hH_K95RPUQyQl7L_"
    ></script>
<script type="text/javascript">
    var payButton = document.getElementById('pay-button');
    // For example trigger on button clicked, or any time you need
    payButton.addEventListener('click', function () {
      snap.pay('{{transaction}}'); // Replace it with your transaction token
    });    
</script>

{% endblock %}