<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/profile.css') }}">
</head>
<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-md fixed-top navbar-light bg-blue-nav">
            <div class="container-fluid">
                <a href="" class="navbar-brand text-uppercase d-md-none">GolekKerjo
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav text-uppercase">
                        <li class="nav-item">
                            <a href="" class="nav-link">GolekKerjo<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Lowongan</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Perusahaan</a>
                        </li>
    
                        <li class="nav-item">
                            <a href="" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Hubungi Kami</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <a class="navbar-brand" href="#">
                            <img src="static/images/bell_1_s.png" width="30" height="30" alt="" loading="lazy">
                          </a>
                        <li class="nav-item">
                            <a href="" class="nav-link mx-md-1 mx-lg-2 mx-xl-3">Hi Dewi</a>
                        </li>
                        <a class="navbar-brand" href="#">
                            <img src="static/images/circle-cropped.png" width="30" height="30" alt="" loading="lazy">
                          </a>

                    </ul>
                </div>
            </div>
        </nav>
    </div>  


    <section class = "Profile">
        <div class = "container my-3 py-5 text-center">
            <div class="row pt-5">
                <div class = "col">
                    <h3> Selamat datang, Dewi</h3>
                </div>
            </div>

            <div class="row pt-3">
                <div class = "col">
                    <div class = "profile-image">
                        <img class = "img-fluid"src="static/images/circle-cropped.png" style="width: 20%;">  
                    </div>
                </div>
            </div>




               <div class = "row pt-4 mx-auto">
                   <div class = "col">
                <form action="" method="POST" style="text-align: center; justify-content: center; align-items: center;" id="formprofil" enctype="multipart/form-data">
                    <span class="btn btn-primary btn-file" style="background-color: #79A0EF; width: 15%; border-radius: 20px; height: 5%; border:none;">
                        Ubah profil <input type="file" name="applyfiles" id="profil">
                    </span>
                </form>
                </div>
               </div>


            <div class="row pt-3">
                <div class = "col">
                    <h3> Dewi@gmail.com</h3>
                </div>
            </div>

            <div class="row pt-3">
                <div class = "col">
                    <h5> Free Account</h5>
                   
                </div>
            </div>

            <div class="row pt-3">
                <div class = "col">
                    <button type="button" class="btn btn-primary btn-blue">Jadi premium</button>
                    
                   
                </div>
            </div>



            <div class="row mt-5">
                <div class = "col">
                   <h3 class="text-left"> Biodata</h3>
                   <hr>
                    
                </div>
            </div>
       


            <form>
                <div class="form-row mt-3 ">
                  <div class="col">
                     <input type="text" class="form-control" placeholder="Nama" id=inputnama>
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Jenis Kelamin" id=inputjenis>
                  </div>
                </div>
                <div class="form-row mt-3 ">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Tanggal Lahir" id=inputtanggal>
                  </div>
                  <div class="form-group col">
                    <select id="inputState" class="form-control dropdown-lulusan" style="padding-left:30px;">
                      <option selected>S1</option>
                      <option>S2</option>
                      <option>SMA<option>
                    </select>
                </div>

                </div>


                <div class="row mt-5">
                    <div class = "col">
                       <h3 class="text-left">Alamat</h3>
                       <hr>
                        
                    </div>
                </div>


                <div class="form-row mt-3 ">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Alamat" id="inputalamat">
                    </div>
                    <div class="form-group col">
                        <select id="inputState" class="form-control dropdown-kota" style="padding-left:30px;">
                          <option selected>Surabaya</option>
                          <option>Jakarta</option>
                          <option>Bandung<option>
                        </select>
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col-6 col-sm-6 col-md-6 col-lg-6">
                        <select id="inputState" class="form-control dropdown-provinsi" style="padding-left:30px;">
                          <option selected>Jawa Timur</option>
                          <option>Jawa Tengah</option>
                          <option>Jawa Barat<option>
                        </select>
                    </div>


                </div>

                <div class="row mt-5">
                    <div class = "col">
                       <h3 class="text-left"> Kontak </h3>
                       <hr>
                        
                    </div>
                </div>


                <div class="form-row mt-3 ">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="No telepon" id="inputtelpon" >
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Instagram" id="inputinsta">
                    </div>
                </div>


                <div class="form-row mt-3 ">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Linkedin" id="inputlink">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="E-mail" id="inputemail">
                    </div>
                </div>


                <div class="row mt-5">
                    <div class = "col">
                       <h3 class="text-left"> Data </h3>
                       <hr>
                        
                    </div>
                </div>

                    <div class="row mt-3">
                        <div class = "col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile"lang= "in">
                                <label class="custom-file-label text-left" for="customFile" id="KTP"> KTP</label>
                            </div>
                    
                        </div>


                    </div>


                    <div class="row mt-5">
                        <div class = "col">
                           <h3 class="text-left"> Preferensi </h3>
                           <hr>
                            
                        </div>
                    </div>

                    <div class="form-row mt-3 ">
                        <div class="form-group col">
                            <select id="inputState" class="form-control dropdown-job">
                              <option selected>Marketing</option>
                              <option>Sekretaris</option>
                              <option>Chef<option>
                            </select>
                        </div>
                    
                    <div class="form-group col ">
                            <select id="inputState" class="form-control dropdown-tipe">
                              <option selected>Full time</option>
                              <option>Part time</option>
                              <option>Freelance<option>
                              </select>

                    </div>
                </div>


                <div class="row mt-5">
                    <div class = "col">
                       <h3 class="text-center"> Gaji </h3>
                    
                        
                    </div>
                </div>

                <div style="position:relative; margin:auto; width:90%">
                    <span style="position:absolute; color:black; min-width:100px;">
                    <span id="Value"></span>
                    </span>
                    <input type="range" id="Range" max="50000000" min="1000000" name= "gaji"style="width:100%;"> 
                  </div>



            </div>


            <div class="row mt-3 text-center">
                <div class = "col">
                    <button class="btn btn-danger button-bawah"type="submit">Keluar</button>
                    <button class="btn btn-success button-bawah" type="submit">Simpan</button>
                
                    
                </div>
            </div>




    

            </form>







            

            


        </div> 
    </section>




    
</body>


<script src="static/js/jquery3.5.1.js"></script>
<script src="static/popper/js/popper.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">


var myRange = document.querySelector('#Range');
var myValue = document.querySelector('#Value');
var gaji = 'gaji';
var off = myRange.offsetWidth / (parseInt(myRange.max) - parseInt(myRange.min));
var px =  ((myRange.valueAsNumber - parseInt(myRange.min)) * off) - (myValue.offsetParent.offsetWidth / 2);

  myValue.parentElement.style.left = px + 'px';
  myValue.parentElement.style.top = myRange.offsetHeight + 'px';
  myValue.innerHTML = 'Rp' + " "+ myRange.value ;

  myRange.oninput =function(){
    let px = ((myRange.valueAsNumber - parseInt(myRange.min)) * off) - (myValue.offsetWidth / 2);
    myValue.innerHTML = 'Rp' + " "+ myRange.value;
    myValue.parentElement.style.left = px + 'px';
  };








</script>


</html>